ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav {
    height: 50px;
    margin-top: 15px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    
}
.topnav a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 10px;

}
.topnav a.left{
    text-decoration: none;
    padding-right: 1450px;
}
.topnav #icon {
    top: 10px;
    position: relative;
}

#logo { 
    position: relative;   
}
